/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-family: 'Pontano Sans', sans-serif, helvetica!important;
    height: 100%;
    font-size: 13px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/* --- STYLE RESET --- */

body {
  background: #fff url('../img/bgswe.png') fixed no-repeat top;
  float: left;
  width: 100%;
  overflow: scroll;
}
#wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden; 
}
header {
  text-align: center;
  float: left;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.5);
}
h2 {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  color: #333;
}
#menu {
  text-align: center;
  padding: 20px 100px;
}
#menu ul {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}
#menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.sok {
  padding: 15px 23px;
  background: #fff url('../img/sok.png') no-repeat 5px 6px;
  border-radius: 50%;
}
.add {
  padding: 15px 23px;
  background: #fff url('../img/add.png') no-repeat 6px 6px;
  border-radius: 50%;
}
.stars {
  padding: 15px 23px;
  background: #fff url('../img/stars.png') no-repeat 6px 6px;
  border-radius: 50%;
}
.profile {
  padding: 15px 23px;
  background: #fff url('../img/profile1.png') no-repeat 6px 6px;
  border-radius: 50%;
}
.sok,
.add,
.stars,
.profile {
  border: 3px solid #eee;
  transition: 0.5s;
}
.sok:hover,
.add:hover,
.stars:hover,
.profile:hover,
.active {
  border: 3px solid #4482a3;
  transition: 0.5s;
}
#content {
  max-width: 380px;
  margin: 0 auto;
  width: 100%;
  display: table;
}
img.icons {
  vertical-align: middle;
}
#box {
  width: 380px;
  margin: 5px 0;
  text-align: center;
  float: left;
}
a.boxed {
  background: #eee;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 13px;
}
a.boxed:hover {
  background: #fff;
}
.from, .to, .passbox {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #4482a3;
  background: #4482a3;
  color: #eee;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  width: 50px;
}
.passbox {
  width: 95px;
  margin-top: 0px;
  border: 2px solid #4482a3;
}
#go {
  width: 90px!important;
  float: left;
}
#bes {
  float: left;
  width: 358px;
  height: 
}
input {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #DBDBDB;
  outline: 0;
  display: inline-block;
  width: 280px;
}
input:focus {
  border: 1px solid #3C8BC0;
  box-shadow: 0px 0 20px #eee inset;
}
input#slideThree {
  display: none;
}
.regTop {
  text-align: center;
}
#widebox {
  background: #37708E;
  width: 280px;
  display: inline-block;
  border-radius: 5px 5px 0 0;
}
#widebox p {
  color: #fff;
  padding: 10px;
}
#boxleft .name {
  float: left;
}
#change {
  border-radius: 3px;
  padding: 10px;
  outline: 0;
  display: inline-block;
  width: 280px;
  text-decoration: none;
}
.button {
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: #4482a3;
  color: #fff;
  width: 300px;
  margin-top: 20px; 
}
.button:hover {
  background: #3C8BC0;
}
#leftbox {
  float: left;
  margin-top: 2px;
}
#rightbox {
  float: right;
}
#sokbox {
  text-align: center;
  float: left;
  width: 100%;
}
#map {
  width: 100%;
  height: 300px;
  float: left;
}
#extra {
  margin-top: 10px;
}

/* RESEBOXEN */

#resebox {
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
#resebox1 {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
#firstbox {
  background: #E7E7E7;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
#resebox1 #name {
  float: left;
  padding: 5px;
  color: #757575;
  width: 100%;
  text-align: left;
}
#resebox1 #date {
  float: left;
  padding: 5px 0;
  color: #757575;
}
.profileicon {
  width: 15px;
  vertical-align: middle;
  margin-top: -3px;
}
.dateicon {
  width: 15px;
  vertical-align: middle;
  margin-top: -5px;
}
#feedback {
  margin-top: 5px;
  float: left;
  width: 100%;
  text-align: center;
}
#feedbox {
  border-radius: 3px;
  background: #fff;
  color: #D60A0A;
  padding: 10px;
}
.utloggad .add,
.utloggad .stars,
.utloggad .sok {
  opacity: 0.2;
}
.utloggad .add:hover,
.utloggad .stars:hover,
.utloggad .sok:hover {
  border: 3px solid #fff;
}
#readmore a {
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: #4482a3;
  color: #fff;
  width: 90%;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}
#readmore a:hover {
  background: #236486;
}
#frombox {
  float: left;
  background: #fff;
  color: #888;
  border-right: 1px solid #DDD;
  padding: 10px;
}
#from, #to {
  float: left;
  background: #fff;
  color: #333;
  padding: 10px;
}
.loginbox .user, .loginbox .pass {
  width: 235px;
}
#passbox {
  float: right;
  background: #fff;
  color: #333;
  padding: 10px;
  width: 235px;
}
#resebox #from, #resebox #to {
  float: left;
  background: #fff;
  color: #555;
  padding: 10px;
  line-height: 13px;
  font-size: 18px;
}
#resebox2 {
  float: left;
  width: 100%
}
#boxleft {
  float: left;
  width: 50%;
  padding-left: 10px;
}
#boxright {
  float: left;
  padding: 0 10px;
}
.padd {
  padding-left: 20px!important;
}
#readmore {
  width: 100%;
  float: left;
  text-align: center;
}
p#leftside {
  display: inline-block;
  text-shadow: 1px 1px #ccc, -1px -1px #ccc, -1px 1px #ccc, 1px -1px #ccc;
  color: #000;
  font-weight: bold;
}

/* ADD */

#fromtext, #fromDisplay, #totext, #toDisplay, #datetext, #platstext, #datumDisplay, #besDisplay, #platserDisplay {
  float: left;
  text-align: center;
  width: 100px;
  color: #fff;
}
#fromDisplay, #toDisplay, #datumDisplay, #platserDisplay {
  padding: 5px 0;
  line-height: 25px;
  font-size: 16px;
}
#fromDisplay {
  background: #2F6E8F;
  font-size: 15px;
}
#toDisplay {
  background: #2F6E8F;
  font-size: 15px;
}
#datumDisplay {
  background: #4482a3;
}
#platserDisplay {
  background: #4482a3;
}
#bestext, #headtitel {
  float: left;
  width: 400px;
  text-align: center;
}
#bestext p {
  background: #4b4b4b;
  padding: 5px;
  color: #fff;
}
#headtitel p {
  background: #2F6E8F;
  color: #fff;
  padding: 5px;
}
#headtitel img, #userboxheader img {
  height: 12px;
  vertical-align: middle;
  margin-top: -3px;
}
#userboxcontent .mail {
  padding: 16px 16px;
  background: #2F6E8F url('../img/mail.png') no-repeat 6px 6px;
  border-radius: 50%;
  background-size: 20px;
  float: left;
}
#userboxcontent .tele {
  padding: 16px 16px;
  background: #2F6E8F url('../img/phone.png') no-repeat 9px 6px;
  border-radius: 50%;
  background-size: 12px;
  float: left;
}
#ubcontent {
  padding: 10px;
  float: left;
  width: 400px;
}
#ubcontent p {
  float: left;
}
#center {
  text-align: center;
}
.row {
  float: left;
  width: 400px;
  padding: 5px 0px;
}
#besDisplay {
  color: #333;
  width: 380px;
  font-size: 15px;
  float: left;
  padding: 10px;
  text-align: left;
}
#fromtext p {
  background: #333;
  padding: 5px;
  border-radius: 5px 0px 0 0;
}
#totext p {
  background: #333;
  padding: 5px;
}
#datetext p {
  background: #4b4b4b;
  padding: 5px;
}
#platstext p {
  background: #4b4b4b;
  padding: 5px;
  border-radius: 0px 5px 0 0;
}

/*ANVÄNDAR-PANELEN*/

#userbox {
  background: #fff;
  border-radius: 3px;
  width: 400px;
}
#userboxheader {
  float: left;
  width: 100%;
  background: #4482a3;
  border-radius: 5px 6px 0 0;
}
#userleft {
  float: left;
}
#logoutright {
  float: right;
}
#userleft p {
  padding: 10px;
  color: #fff;
}
#logoutright p a {
  color: #fff;
  background: #f34840;
  text-decoration: none;
  padding: 10px;
  float: right;
  transition: 0.3s;
  border-radius: 0 5px 0 0;
}
#logoutright p a:hover {
  background: #EC2F26;
  transition: 0.3s;
}
#userboxcontent {
  float: left;
  width: 100%;
  background: #fff;
}
#userboxcontent p {
  padding: 10px;
}
/* SLIDE THREE */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  margin-right: 60px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
  content: 'AV';
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
  content: 'PÅ';
  font: 12px/26px Arial, sans-serif;
  color: #eee;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

.hide{
   display: none;
   opacity: 0;
}
.disp{
  display: block;

}
#felText{
  text-align: center;
}
/*------ skapa resa --------*/
p a{
  color: #4482a3;
}
p a:hover{
  opacity: .7;
}
#result{
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  border-radius: 6px;
  background: #eee;
  box-shadow: 0 0 4px #757575;
  margin-bottom: 15px;
}

@media all and (max-width: 600px) {
  #menu {
    padding: 20px 10px;
  }
  #menu ul li {
    margin: 0 10px;
  }
}